
<div class="container" style="max-width: 960px;">

    <div class="py-5 text-center">
        <h1>Inserisci i tuoi dati</h1>
        <form #userForm="ngForm">

            {{ userForm.value | json}}
            <div class="form-row">
                <div class="form-group col-md-6">

                    <input type="text" class="form-control" name="first-name" placeholder="Nome" ngModel>
                </div>
                <div class="form-group col-md-6">

                    <input type="text" class="form-control" name="last-name" placeholder="Cognome" ngModel>
                </div>
            </div>
            <div class="form-group">

                <input type="email" class="form-control" name="email" placeholder="Email" ngModel>
            </div>
            <div class="form-group">

                <input type="text" class="form-control" name="number" placeholder="Mobile" ngModel>
            </div>
            <div class="form-group">
                <input type="date" class="form-control" name="birth" ngModel>
            </div>

            <div class="form-row">
                <div class="form-group col-md-10">

                    <input type="text" class="form-control" name="address" placeholder="Indirizzo" ngModel>
                </div>
                <div class="form-group col-md-2">

                    <input type="text" class="form-control" name="civnumber" placeholder="Civico" ngModel>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-10">

                    <input type="text" class="form-control" name="city" placeholder="Comune" ngModel>
                </div>
                <div class="form-group col-md-2">

                    <input type="text" class="form-control" name="zipcode" placeholder="CAP" ngModel>
                </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" type="submit">CONTINUA</button>


        </form>
    </div>
</div>
